html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  width: 100vw;
}
.tsd-main {
  position: relative;
}
.tsd-main img#tsd-long-img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  width: 100%;
  /* filter: alpha(opacity=40); */
  filter: brightness(90%) opacity(40%);
}
.tsd-intro-container {
  position: relative;
}
#tsd-intro {
  position: absolute;
  top: 20px !important;
  left: 20px;
  width: 70%;
  height: calc(100% - 100px);
}
.tsd-callout, .tsd-text {
  font-family: 'PT Serif',serif;
}
.tsd-callout, #tsd-intro {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 30px;
  position: absolute;
  top: 0;
  background: white;
  box-shadow: 2px 2px 7px 0px rgba(40,40,40,0.75);
}
.tsd-callout dt {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1em;
}
.tsd-callout dd {
  margin: 0;
}
.tsd-callout figure {
  float: right;
  width: 200px;
}
.tsd-callout figure figcaption {
  font-style: italic;
  font-size: 14px;
  color: #4D4F53;
}
#tsd-callout-p2 {
  top: 5%;
}
#tsd-callout-p3 {
  top: 10%;
}
#tsd-callout-p9 {
  top: 25%;
}
#tsd-callout-p15 {
  top: 50%;
}
#tsd-callout-p20 {
  top: 66%;
}
#tsd-callout-p25 {
  top: 80%;
}
#tsd-callout-p27 {
  top: 85%;
}
#tsd-callout-p30 {
  top: 90%;
}
#tsd-callout-end {
  top: 95%;
}

/* ARROWS */
.arrows {
  margin: auto;
  text-align: center;
}
.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 20px;
}
.arrow-previous {
  background-color: #f1f1f1;
  color: #8C1515;
}
.arrow-next {
  background-color: #8C1515;
  color: white;
}
.arrow-next:hover {
  color: #eee;
}

/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
  .tsd-intro-container, .tsd-intro-image {
    min-height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .tsd-intro-container, .tsd-intro-image {
    min-height: 400px;
  }
  #tsd-callout-end {
    top: 97%;
  }
}
@media only screen and (max-width: 425px) {
  .tsd-intro-container, .tsd-intro-image {
    min-height: 550px;
  }
  #tsd-callout-p25 {
    top: 75%;
  }
  #tsd-callout-p27 {
    top: 83.1%;
  }
  #tsd-callout-end {
    top: 98.7%;
  }
}