html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  width: 100vw;
}
.tsd-main {
  position: relative;
}
.tsd-main img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  width: 100%;
  /* filter: alpha(opacity=40); */
  filter: brightness(90%) opacity(40%);
}
.tsd-intro-container {
  position: relative;
}
#tsd-intro {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70%;
  height: calc(100% - 100px);
}
.tsd-callout, .tsd-text {
  font-family: 'PT Serif',serif;
}
.tsd-callout{
  font-size: 1.2em;
  line-height: 1.5;
  padding: 30px;
}
.tsd-callout {
  position: absolute;
  top: 0;
  background: white;
  box-shadow: 2px 2px 7px 0px rgba(40,40,40,0.75);
}
.tsd-callout dt {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1em;
}
.tsd-callout dd {
  margin: 0;
}
#tsd-callout-p2 {
  top: 100vw;
}
#tsd-callout-p3 {
  top: 185vw;
}
#tsd-callout-p9 {
  top: 700vw;
}
#tsd-callout-p15 {
  top: 1200vw;
}
#tsd-callout-p20 {
  top: 1620vw;
}
#tsd-callout-p25 {
  top: 2050vw;
}
#tsd-callout-p27 {
  top: 2150vw;
}
#tsd-callout-p30 {
  top: 2250vw;
}
#tsd-callout-end {
  top: 2360vw;
}

/* ARROWS */
.arrows {
  margin: auto;
  text-align: center;
}
.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 20px;
}
.arrow-previous {
  background-color: #f1f1f1;
  color: #8C1515;
}
.arrow-next {
  background-color: #8C1515;
  color: white;
}
.arrow-next:hover {
  color: #eee;
}