body {
  position: absolute;
}
.tsd-main {
  position: relative;
}
.tsd-main img {
  pointer-events: none;
  background-color: #fff;
  /* filter: alpha(opacity=40); */
  filter: brightness(90%) opacity(40%);
}
.tsd-intro-container {
  position: relative;
}
.tsd-intro {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(214, 214, 214, 0.74);
  width: 70%;
  height: calc(100% - 80px);
}
.tsd-intro, .tsd-callout {
  font-family: 'PT Serif',serif;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 10px;
}
.tsd-callout {
  position: absolute;
  top: 0;
  background: white;
  box-shadow: 2px 2px 7px 0px rgba(40,40,40,0.75);
}
.tsd-callout dt {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1em;
}
.tsd-callout dd {
  margin: 0;
}
.tsd-callout-p2 {
  top: 0vw;
}
.tsd-callout-p3 {
  top: 100vw;
}
.tsd-callout-p9 {
  top: 700vw;
}
.tsd-callout-p15 {
  top: 1300vw;
}
.tsd-callout-p20 {
  top: 1800vw;
}
.tsd-callout-p25 {
  top: 2300vw;
}
.tsd-callout-p27 {
  top: 2500vw;
}
.tsd-callout-p30 {
  top: 2800vw;
}
.tsd-callout-end {
  top: 3000vw;
}